@import url(https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
    padding: 30px 175px;
}

.container {
    width: 100%;
    max-width: 1000px;
    min-width: 350px;
    margin: 0 auto;
}

header {
    width: 100%;

}

.logo {
    display: inline-block;
    margin-right: 10px;
}

hgroup {
    display: inline-block;
}

nav {
    display: inline-block;
    float: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li:nth-child(6) {
    margin-right: 8px;
}

section {

}

.details {
    width: calc(100% - 55px);
    display: inline-block;
}

.print {
    width: 50px;
    display: inline-block;
}

.print img {
    display: inline-block;
}

.print h6 {
    display: inline-block;
}

.directions {
    margin-top: 20px;
}

.directions img {
    width: 100%;
}

.directions p {
     text-indent: 20px;
}

.ingredients {

}

.columnone {

}

.columntwo {

}

footer {

}

.avatar {

}

.bio {

}

.sharebutton {

}

.copyright {

}

h1, h2, h3, h4, h5, h6, p {

}

h1 {
    font-family: "Lobster", cursive;
    line-height: 1em;
    letter-spacing: 1px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

h3 {

}

h4 {

}

h5 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
}

h6 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    color: #999;
}

p {

}

.border {
    height: 15px;
    width: 100%;
    background-color: #ddd;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logoborder {

}
