/* Source Sans Pro // Source Serif Pro // Lobster Two // Shadows Into Light Two */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300italic,300,400italic,600,600italic,700,700italic,900,900italic|Source+Serif+Pro:400,700,600|Lobster+Two:400,400italic,700,700italic|Shadows+Into+Light+Two);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Serif Pro", Times, serif;
}

 /*.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 @-webkit-keyframes fadeIn {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 @keyframes fadeIn {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }


 .fadeIn {
     -webkit-animation-name: fadeIn;
     animation-name: fadeIn;
 }*/


.container {
    width: 100%;
    max-width: 1000px;
    min-width: 350px;
    margin: 0 auto;
    /*padding-left:  150px;
    padding-right:  150px;*/
}

header {
    width: 100%;
    margin-top: 60px;
}

.logo {
    display: inline-block;
    margin-right: 10px;
}

hgroup {
    display: inline-block;
}

nav {
    display: inline-block;
    float: right;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li:nth-child(6) {
    margin-right: 8px;
}

.details {
    width: calc(100% - 55px);
    display: inline-block;
}

.print {
    width: 50px;
    display: inline-block;
}

.print img {
    display: inline-block;
}

.print h6 {
    display: inline-block;
}

.directions {
    margin-top: 20px;
}

.directions img {
    width: 100%;
    margin-bottom: 20px;
}

.directions p {
     text-indent: 30px;
     margin-bottom: 20px;
     color: #999;
}

.ingredients {
    background-image: url("img/background-list.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 45px;
    height: 400px;
}

.columnone, .columntwo {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.ingredients li label {
    font-family: "Shadows Into Light Two", cursive;
    line-height: 1.7em;
    font-size: 20px;
}

.columnone li, .columntwo li {
    list-style-type: none;
}

.columnone li input, .columntwo li input {
    margin-right: 10px;
}

li input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

.columnone {
    margin-right: 9%;
}

.btn {
    padding: 15px 25px;
    background-color: #CC5029;
    float:right;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
}

footer {
    margin-bottom: 50px;
}

.avatar {
    display: inline-block;
    width: 71px;
    margin-right: 14px;
}

.bio {
    display: inline-block;
    width: calc(100% - 90px - 180px);
}

.sharebutton {
    float:right;
}

.copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: "Lobster Two", cursive;
    line-height: 1em;
    letter-spacing: 1px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
}

h3 {
    font-family: "Source Serif Pro", Times, serif;
    margin-bottom: 10px;
}

h4 {

}

h5 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
}

h6 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    color: #999;
}

p {

}

.border {
    height: 15px;
    width: 100%;
    background-color: #ddd;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logoborder {
    margin: 50px auto;
    height: 33px;
}

.logoborder img {
    padding: 5px;
}

.lineborder {
    border-bottom: 1px solid #999;
    display: inline-block;
    width: calc(50% - 30px);
    height: 5px;
    position: relative;
    bottom: 20px;
}

/* effects go here */

.rotate {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.rotate:hover {
    transform: rotate(360deg) scale(1.5,1.5);
    -webkit-transform: rotate(360deg) scale(1.5,1.5);
}
